.main-container{
  display: block;
  width: 800px;
  margin: 0 auto;
}
.main-container h1{
  padding:2vw;
}
.title-header {
  display: block;
  width: 800px;
  text-align: center;
  font-size: 30px;
  padding: 15px;
}