.search-bar-form {
  width: max-content;
  margin: 0 auto;
  }
.search-bar
{
  width: max-content;
  margin: 0 auto;
}
.mat-option{
  width: 100%;
  margin: 0 auto;
}
.search-bar-form input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
.search-bar h1
{
  padding:2vw;
}
.details_table
{
  padding-top: 10vw;
  width: max-content;
  margin: 0 auto;
}
.details_table td
{
  padding: 1vw;
}
.details_table th
{
  padding: 1vw;
  text-align: right;
}
