<div class="search-bar">
  <div id="title-header">
    <h1>Search Cities and Towns in New York State</h1>
  </div>
  <form class="search-bar-form">
    <input type="text" matInput placeholder="Search for a city or town" [formControl]="control"
      [matAutocomplete]="auto" class="search-input">
    <div>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let cities of filteredCities | async" [value]="cities" (click)=citySelected(cities)>
          {{cities}}
        </mat-option>
      </mat-autocomplete>
    </div>
    
    
  </form>
  
  <div *ngIf="cityIsSelected;"  class="details-table">
    <table>
      <tr>
        <th>Name:</th>
        <td>{{selectedCity.name}}</td>
      </tr>
      <tr>
        <th>County:</th>
        <td>{{selectedCity.county}}</td>
      </tr>
      <tr>
        <th>Population<br/> (2010):</th>
        <td>{{selectedCity.population}}</td>
      </tr>
    </table>
    <div class="picture-view">
      <img src="/assets/default-picture.jpg" height="320" width="320">
    </div>
  </div>
</div>