<div class="search-form-container">
    <form class="search-form">
        <input type="text" matInput placeholder="Search for a place" [matAutocomplete]="auto" [formControl]="control"
            class="search-input">
        <div>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let places of filteredPlaces | async" [value]="places" (click)=placeSelected(places)>
                    {{places}}
                </mat-option>
            </mat-autocomplete>
        </div>
    </form>
</div>