.picture-view {
  display: inline-flex;
  width: 400px;
}
.details-table {
  display: inline-block;
  width: 180px;
  margin: 0 auto;
  vertical-align: top;
}
.details-table td {
  padding: 1vw;
  background-color: beige;
  width: 80px;
}
.details-table th {
  padding: 1vw;
  text-align: right;
  background-color: burlywood;
}
.place-details-view-container{
  display: inline-block;
  width: 580px;
}