<div class="place-details-view-container">
    <div class="details-table">
        <table>
            <tr>
                <th>Name:</th>
                <td>{{place.name}}</td>
            </tr>
            <tr>
                <th>Street:</th>
                <td>{{place.streetName}}</td>
            </tr>
            <tr>
                <th>ZIP:</th>
                <td>{{place.zipCode}}</td>
            </tr>
        </table>
    </div>
    <div class="picture-view">
        <img src="/assets/default-picture.jpg" height="320" width="320">
    </div>
</div>